* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

header {
    width: 100%;
    height: 60px;
    background: linear-gradient(90deg, hsla(111, 100%, 83%, 1) 0%, hsla(173, 71%, 47%, 1) 100%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header .header__logo {
    position: absolute;
    width: 150px;
    height: 40px;
    background-image: url('./PlatziVideo/logo-platzi-video-BW2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
    margin-left: 10px;
}

header .header__nav--flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-start;
    align-items: flex-start;
}

header .header__nav--flex-container .header__user--logo {
    width: 40px;
    height: 40px;
    background-image: url('./PlatziVideo/user-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
}

header .header__nav--flex-container p {
    color: white;
    font-size: 1.6rem;
    margin: 23px 20px 0px 8px;
}

header .header__nav--flex-container ul {
    display: none;
    text-align: right;
    text-decoration: none;
    list-style: none;
    font-size: 1.4rem;
    background: #35D5B9;
    border-radius: 15px;
    position: absolute;
    margin-top: 50px;
    line-height: 3rem;
    width: 100px;
}
.header__nav--flex-container a {
    text-decoration: none;
    color: white;
}

.header__nav--flex-container:hover ul, ul:hover {
    display: block;
    width: 150px;
    padding: 0 20px;
}

.header__nav--flex-container li:hover {
    text-decoration: underline;
}

.registro {
    background: linear-gradient(90deg, hsla(111, 100%, 83%, 1) 0%, hsla(173, 71%, 47%, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 0px;
    min-height: calc(100vh - 200px);
}

.registro__container {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    padding: 40px 48px 30px;
    min-height: 700px;
    width: 400px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.registro__container h2 {
    font-size: 2.5rem;
}

.registro__container--form {
    display: flex;
    flex-direction: column;
}

.registro__container--login {
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.registro__container--login a {
    color: white;
    font-size: 1.4rem;
    text-decoration: none;
}

.registro__container--login a:hover {
    text-decoration: underline;
}

.input {
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    font-size: 1.6rem;
    font-family: fantasy;
    margin-bottom: 20px;
    padding: 0px 20px;
    outline: none;
    height: 50px;
}

::placeholder {
    color: white;
}

.button {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: bold;
    font-family: fantasy;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0px;
}

.footer {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background: linear-gradient(90deg, hsla(111, 100%, 83%, 1) 0%, hsla(173, 71%, 47%, 1) 100%);
}

.footer a {
    color: white;
    cursor: pointer;
    font-size: 1.4rem;
    padding-left: 30px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .registro__container {
        background-color: transparent;
        border: none;
        padding: 10px;
        width: 100%;
    }

    .footer {
        align-items: flex-start;
        flex-direction: column;
    }
}